@model Bookish.Web.Models.LibraryModel

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4 text-center">
        Books
    </h1>
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center searchbar">
            <div class="col-md-8">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <form action="Search" method="post">
                        <input type="text" class="form-control" placeholder="Search for a book" name="title">
                        <button class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @{ var startIndex = (Model.Page - 1) * 5; }
    @foreach (var book in Model.Books.Skip(startIndex).Take(5))
    {
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0 img500x333" src=@book.Book.Cover_photo_url alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h2>@book.Book.Title</h2>
                <h5>Subtitle: @book.Book.Subtitle</h5>
                <h5>Category: @book.Book.Category</h5>
                <h6>Publish date: @book.Book.Publish_date</h6>
                <h6>Available copies: @book.Book.Available_copies</h6>
                <form action="Borrowed" method="post">
                    <input type="hidden" name="ISBN" value=@book.Book.ISBN>
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Borrow Book</button>
                </form>
            </div>
        </div>

        <hr>
    }
</div>
<!-- /.container -->